<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= @title %> contest | RiPPro solved</title>
  <% @path = '../' %>
  <%= erb :import %>
  <style>
    td{
      border: solid 1px #212121;
    }
  </style>
</head>
<body>
<%= erb :header %>
<div class="wrapper">  
  
  <div class='center'>
    <table class="striped centered contest">
      <thead>
        <tr>
          <th rowspan="2" class="light-green lighten-5">rank</th>
          <th rowspan="2" class="light-green lighten-5">name</th>
          <% @users.each do |user| %>
            <th id=<%= user %> class="light-green lighten-5"><%= user[0..4] %>
            </th>
          <% end%> 
        </tr>
      </thead>
      <tbody>
        <% past = "" %>
        <% @contests.sort_by{|a| a[:contest] }.each do |contest| %>
          <% if past != contest[:contest] %>
            <tr>
              <td colspan="<%= @users.length + 3%>"  class="center grey darken-4">
                <%= contest[:contest] %>          
              </td>
            </tr>
          <% end %>
          <% past = contest[:contest] %>
          <tr>
            <td class="bordered"><%= contest[:name][0] %></td>
            <td class="bordered"><a href="http://<%= contest[:contest] %>.contest.atcoder.jp/tasks/<%= contest[:id] %>"><%= contest[:name].split('.')[1] %></a></td>
            <% @users.each do |user| %>
            <% if not @solved[user].find{|item| item == contest[:id]}.nil? %>
                  <td class="bordered light-green lighten-">
                    <p class="" title=<%= user %>></p>
                  </td>
                <% else %>
                  <td class="bordered">
                  </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= erb :end %>
</body>
</html>